<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Character Sheet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<script>
    function showTab(tabName) {
        document.querySelectorAll(".content").forEach(c => c.style.display = "none");
        document.getElementById(tabName).style.display = "flex";

        document.querySelectorAll(".tab").forEach(t => t.classList.remove("active"));
        document.querySelector(`[data-tab='${tabName}']`).classList.add("active");
        updateFloatingButton(tabName);
    }

    function toggleCollapsible(event) {
        let content = event.currentTarget.nextElementSibling;
        let currentDisplay = window.getComputedStyle(content).display;
        content.style.display = content.style.display === "block" ? "none" : "block";
    }

    function togglePanel(event) {
        // Исключаем срабатывание при клике на чекбоксы
        if (event.target.type === "checkbox") return;
        
        let content = event.currentTarget.nextElementSibling;
        content.style.display = content.style.display === "block" ? "none" : "block";
    }

    let timeoutId;

    function editText(event, field) {
        console.log(event)
        // Очищаем предыдущий таймер
        clearTimeout(timeoutId);

        // Устанавливаем новый таймер
        timeoutId = setTimeout(() => {
            const inputValue = event.target.value;
            console.log(event.target.value)
            if (inputValue.trim() !== "") {  // Проверка, что поле не пустое
                sendDataToServer(inputValue, field);
            }
        }, 300);  // Задержка 300 мс
    }



    function updateCheckboxes(event, level) {
        event.stopPropagation(); 
        
        let checkboxes = Array.from(event.currentTarget.parentElement.querySelectorAll("input"));

        if (event.target.checked) {
            event.target.checked = false;


            for (let i = 0; i < checkboxes.length; i++) {
                if (!checkboxes[i].checked) {
                    checkboxes[i].checked = true;
                    break;
                }
            }

        } else { 
            event.target.checked = true;


            for (let i = checkboxes.length - 1; i >= 0; i--) {
                if (checkboxes[i].checked) {
                    checkboxes[i].checked = false;
                    break;
                }
            }

        }

        let checkedCount = 0;

        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                checkedCount++;
            }
        });

        fetch('/update_checkbox', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                level: level,
                used: checkedCount,
            }),
        }).then(response => response.json()).then(data => {
            if (data.status !== 'success') {
                console.error('Failed to update checkbox state');
            } else {console.log(data.used + " " + data.level)}
        });
    }


    

    // Функция для отправки данных на сервер
    function sendDataToServer(value, field) {
        // URL сервера

        // Данные для отправки
        const data = {
            value: value,
            field: field
        };

        // Отправка данных на сервер
        fetch('/update_field', {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            // Обновляем статус
            console.log("Ответ сервера:", result);
        })
        .catch(error => {
            // Обработка ошибок
            console.error("Ошибка:", error);
        });
    }

    // Дебаунсинг
    const buttonActions = {
            stats: () => alert("Действие для вкладки Home!"),
            items: () => alert("Действие для вкладки Settings!"),
            feats: null // null означает, что на этой вкладке кнопки не будет
        };

    function updateFloatingButton(tab) {
        if (buttonActions[tab]) {
            floatingButton.style.display = "block";
            floatingButton.onclick = buttonActions[tab];
        } else {
            floatingButton.style.display = "none";
        }
    }   

    document.addEventListener("DOMContentLoaded", function() {


        showTab("spells");

        document.querySelectorAll(".collapsible").forEach(item => {
            item.addEventListener("click", toggleCollapsible);
        });

        document.querySelectorAll(".panel").forEach(item => {
            item.addEventListener("click", togglePanel);
        });

        // document.querySelectorAll(".checkbox-group input").forEach(checkbox => {
        //     checkbox.addEventListener("click", updateCheckboxes);
        // });

        // document.querySelectorAll(".input-field").forEach(item => {
        //     item.addEventListener("input", editText);
        // });
        
        const floatingButton = document.getElementById("floatingButton");




    });
</script>

<body>
    <input type="file" id="fileInput">
    <button onclick="uploadFile()">Загрузить в базу</button>
    <button onclick="downloadFile()">Сохранить из базы</button>
    <div id="common" class="content" style="display: none;">
        <span><strong>Текущие ПЗ: </strong><input oninput="((event) => editText(event, ['Hit Points', 'Current']))(event)" class= "input-field" type="text" value={{data["Hit Points"]["Current"]}}></span>
        <span><strong>Максимальные ПЗ: </strong><input oninput="((event) => editText(event, ['Hit Points', 'Maximum']))(event)" class= "input-field" type="text" value={{data["Hit Points"]["Maximum"]}}></span>
        <span><strong>Временные ПЗ: </strong><input oninput="((event) => editText(event, ['Hit Points', 'Temporal']))(event)" class= "input-field" type="text" value={{data["Hit Points"]["Temporal"]}}></span>
        <span><strong>Класс брони: </strong>{{data["Armor Class"]}}</span>
        <span><strong>Скорость: </strong>{{data["Speed"]}}</span>
        <span><strong>Бонус мастерства: </strong>{{data["Bonus"]}}</span>
        <span><strong>Инициатива: </strong>{{data["Initiative"]}}</span>
    </div>
    <div id="stats" class="content" style="display: none;">
        <h2>Характеристики</h2>
        {% for key, value in data["Attributes"].items() %}
        <span><strong>{{ key }}:</strong> {{ value }}</span>
        {% endfor %}
        <h2>Испытания</h2>
        {% for key, value in data["Saves"].items() %}
        <span><strong>{{ key }}:</strong> {{ value }}</span>
        {% endfor %}
        <h2>Навыки</h2>
        {% for key, value in data["Skills"].items() %}
        <span><strong>{{ key }}:</strong> {{ value }}</span>
        {% endfor %}
    </div>
    <div id="feats" class="content" style="display: none;">
        {% for key, value in data["Feats"].items() %}
            <div class="panel">{{ key }}</div>
            <div class="panel-content">
                {% for item in value %}
                    <div class="collapsible">{{ item["name"] }}</div>
                    <div class="collapsible-content">
                        {{ item["description"] | safe }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}       
    </div>
    <div id="items" class="content" style="display: none;">
        {% for item in data.Equipment %}
            <div class="collapsible">
                <img src="/static/img/token-runed-circle-green.webp" class="collapsible-icon" alt="icon">
                <span class="collapsible-label">{{ item["item"] }}</span>
            </div>
            <div class="collapsible-content">
                <p> {{ item["description"] }}</p>
            </div>
        {% endfor %}
    </div>
    <div id="spells" class="content">
        <span><strong>Заклинательная характеристика: </strong>{{data["Spells"]["Ability"]}}</span>
        <span><strong>Сложность испытаний: </strong>{{data["Spells"]["Save"]}}</span>
        <span><strong>Бонус атаки заклинаниями: </strong>{{data["Spells"]["Attack"]}}</span>
        {% for i in range(data.Spells.slots|length) %}
            <div class="panel">
                {{ i }}-й круг    
                <div class="checkbox-group" onclick="((event) => updateCheckboxes(event, '{{ i }}'))(event)">
                    {% for j in range(data.Spells.slots[i]["available"]) %}
                    <input type="checkbox" {% if j < data.Spells.slots[i]["used"] %}checked{% endif %}>
                    {% endfor %}     
                </div>
            </div>
            <div class="panel-content">
                {% for spell in data.Spells.list %}
                    {% if "level" in spell and spell["level"] == i %}
                        <div class="collapsible">{{ spell["name"]["russian"] }}</div>
                        <div class="collapsible-content">
                            <p><i>{{ spell["school"] }}</i></p>
                            <p><strong>Время накладывания:</strong> {{ spell["cast_time"] }}</p>
                            <p><strong>Дистанция:</strong> {{ spell["distance"] }}</p>
                            <p><strong>Компоненты:</strong> {{ spell["components"] }}</p>
                            <p><strong>Длительность:</strong> {{ spell["duration"] }}</p>
                            <p>{{ spell["description"] }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}    
    </div>
    <div id="bio" class="content" style="display: none;">👤 Био</div>
    <button id="floatingButton" class="floating-button">+</button>
    <div class="tab-bar">
        <div class="tab active" data-tab="common" onclick="showTab('common')">
            🏠
        </div>
        <div class="tab" data-tab="stats" onclick="showTab('stats')">
            🔍
        </div>
        <div class="tab" data-tab="feats" onclick="showTab('feats')">
            🦶
        </div>
        <div class="tab" data-tab="items" onclick="showTab('items')">
            👜
        </div>
        <div class="tab" data-tab="spells" onclick="showTab('spells')">
            📕
        </div>
        <div class="tab" data-tab="bio" onclick="showTab('bio')">
            👤
        </div>
    </div>

    <script>
        function downloadFile() {
            fetch('/download_json')
                .then(response => response.json())
                .then(data => {
                    let jsonString = JSON.stringify(data, null, 4); // Форматируем JSON красиво
                    let blob = new Blob([jsonString], { type: 'application/json' });
                    let a = document.createElement('a');
                    a.href = URL.createObjectURL(blob);
                    a.download = 'character_data.json';
                    a.click();
                })
                .catch(error => {
                    console.error('Ошибка при скачивании:', error);
                    alert('Ошибка при скачивании данных.');
                });
        }

        function uploadFile() {
            let fileInput = document.getElementById('fileInput');
            if (!fileInput.files.length) {
                alert('Выберите файл!');
                return;
            }

            let file = fileInput.files[0];
            let reader = new FileReader();

            reader.onload = function(event) {
                try {
                    let jsonData = JSON.parse(event.target.result);

                    fetch('/upload_json', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(jsonData),
                    }).then(response => response.json()).then(data => {
                        if (data.status === 'success') {
                            alert('Файл успешно загружен в базу!');
                        } else {
                            alert('Ошибка: ' + data.error);
                        }
                    }).catch(error => {
                        console.error('Ошибка:', error);
                        alert('Произошла ошибка при загрузке.');
                    });

                } catch (error) {
                    alert('Ошибка чтения файла. Убедитесь, что это корректный JSON.');
                }
            };

            reader.readAsText(file);
        }

    </script>

</body>
</html>
