<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Character Sheet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{ data["Name"] }} - Level {{ data["Level"] }} {{ data["Class"] }}</h1>

    <h2>Attributes</h2>
    <div>
        {% for key, value in data["Attributes"].items() %}
            <div class="collapsible">{{ key }}</div>
            <div class="content">Value: {{ value }}</div>
        {% endfor %}
    </div>

    <h2>Equipment</h2>
    <div>
        {% for item in data["Equipment"] %}
            <div class="collapsible">{{ item["item"] }}</div>
            <div class="content">Description: {{ item["description"] }}</div>
        {% endfor %}
    </div>

    <h2>Spells</h2>
    <div>
        {% for level, details in data["Spells"].items() %}
            <div class="spell-level">
                <h3>{{ level }}</h3>
                <div class="checkboxes">
                    {% for i in range(details["checkboxes"]) %}
                        <input type="checkbox" id="{{ level }}-checkbox-{{ i }}" 
                               {% if details.get('checkboxes_state', [False] * details["checkboxes"])[i] %}checked{% endif %}
                               onchange="updateCheckbox('{{ level }}', '{{ i }}', this.checked)">
                    {% endfor %}
                </div>
                <div>
                    {% for spell in details["spells"] %}
                        <div class="collapsible">{{ spell["name"] }}</div>
                        <div class="spell-card">
                            <h1>{{ spell["name"]["hobby"] }}</h1>
                            <h2>{{ spell["name"]["english"] }} / {{ spell["name"]["phantom"] }}</h2>
                            
                            <p><b>Школа магии:</b> {{ spell["school"] }}</p>
                            <p><b>Уровень:</b> {{ spell["level"] }}</p>
                            <p><b>Ритуал:</b> {{ "Да" if spell["ritual"] else "Нет" }}</p>
                            <p><b>Концентрация:</b> {{ "Да" if spell["concentration"] else "Нет" }}</p>
                    
                            <p><b>Время сотворения:</b> {{ spell["cast_time"] }}</p>
                            <p><b>Длительность:</b> {{ spell["duration"] }}</p>
                            <p><b>Дистанция:</b> {{ spell["distance"] }}</p>
                            <p><b>Компоненты:</b> {{ spell["components"] }}</p>
                    
                            <div class="content">
                                <b>Описание:</b><br>
                                {% for description in spell["description"] %}
                                    {% if description["type"] == "html" %}
                                        {{ description["html_string"]|safe }}
                                    {% else %}
                                        <p>{{ description["html_string"] }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    
                            <p><b>Доступно для:</b> {{ ", ".join(spell["available_for"]) }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>

        function updateCheckbox(level, index, checked) {
            console.log(`level ${level} index ${index} checked ${checked}`)
            fetch('/update_checkbox', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    level: level,
                    checkbox_index: index,
                    checked: checked
                }),
            }).then(response => response.json()).then(data => {
                if (data.status !== 'success') {
                    console.error('Failed to update checkbox state');
                }
            });
        }


        const collapsibles = document.querySelectorAll('.collapsible');
        collapsibles.forEach(button => {
            button.addEventListener('click', () => {
                const content = button.nextElementSibling;
                content.style.display = content.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>
</body>
</html>
