<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Character Sheet</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="common" class="content" style="display: none;">🏠 Общее</div>
    <div id="stats" class="content" style="display: none;">🔍 Числа</div>
    <div id="feats" class="content" style="display: none;">🦶 Особенности</div>
    <div id="items" class="content" style="display: none;">👜 Предметы</div>
    <div id="spells" class="content">

        <div class="panel">
            1-й круг
            <div class="checkbox-group">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </div>
        </div>
        <div class="panel-content">
            <!-- {% for i in range(data["Spells"]["slots"]|length) %}
                <p>Item {{ i }}: {{ details["Spells"]["slots"][i] }}</p>
            {% endfor %} -->
            <div class="collapsible">🔹 Элемент 1</div>
            <div class="collapsible-content">Это содержимое элемента 1.</div>

            <div class="collapsible">🔹 Элемент 2</div>
            <div class="collapsible-content">Это содержимое элемента 2.</div>

            <div class="collapsible">Сон синей вуали</div>
            <div class="collapsible-content">
                <b>Школа: </b><span>Вызов</span><br>
                <b>Время вызова: </b><span>10 минут</span><br>
                <b>Дистанция: </b><span>10 метров</span><br>
                <span>Вы и до восьми согласных существ в пределах дистанции теряете сознание на время действия заклинания и испытываете видения другого мира на Материальном плане, как например Орта, Торила, Кринна или Эберрона. Если заклинание действует в течение полной длительности, то видения приводят к тому, что каждый из вас находит и отодвигает загадочный синий занавес. Заклинание заканчивается тем, что вы ментально и <b>физически</b> переноситесь в мир, который был в видениях.\n\nЧтобы наложить это заклинание, у вас должен быть магический предмет, созданный в мире, в который вы хотите попасть, и вы должны знать о существовании этого мира, даже если вы не знаете его названия. Вы попадаете в безопасное место в пределах 1 мили от того места, где используемый магический предмет был создан. Вы можете наложить заклинание без магического предмета, если одно из существ под действием этого заклинания родилось в том мире.</span>

            </div>
        </div>
    </div>
    <div id="bio" class="content" style="display: none;">👤 Био</div>

    <div class="tab-bar">
        <div class="tab active" data-tab="common" onclick="showTab('common')">
            🏠
        </div>
        <div class="tab" data-tab="stats" onclick="showTab('stats')">
            🔍
        </div>
        <div class="tab" data-tab="feats" onclick="showTab('feats')">
            🦶
        </div>
        <div class="tab" data-tab="items" onclick="showTab('items')">
            👜
        </div>
        <div class="tab" data-tab="spells" onclick="showTab('spells')">
            📕
        </div>
        <div class="tab" data-tab="bio" onclick="showTab('bio')">
            👤
        </div>
    </div>



    <input type="file" id="fileInput">
    <button onclick="uploadFile()">Загрузить в базу</button>
    <button onclick="downloadFile()">Сохранить из базы</button>
    <!-- <h1>{{ data["Name"] }} - Level {{ data["Level"] }} {{ data["Class"] }}</h1>

    <h2>Attributes</h2>
    <div>
        {% for key, value in data["Attributes"].items() %}
            <div class="collapsible">{{ key }}</div>
            <div class="content">Value: {{ value }}</div>
        {% endfor %}
    </div>

    <div>
        <div class="collapsible"><h2>Испытания</h2></div>
        <div class="content">
            {% for key, value in data["Saves"].items() %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
        </div>
    </div>

    <div>
        <div class="collapsible"><h2>Навыки</h2></div>
        <div class="content">
            {% for key, value in data["Skills"].items() %}
                <p>{{ key }}: {{ value }}</p>
            {% endfor %}
        </div>
    </div>

    <h2>Equipment</h2>
    <div>
        {% for item in data["Equipment"] %}
            <div class="collapsible">{{ item["item"] }}</div>
            <div class="content">Description: {{ item["description"] }}</div>
        {% endfor %}
    </div>

    <h2>Spells</h2>
    <div>
        {% for level, details in data["Spells"].items() %}
            <div class="spell-level">
                <h3>{{ level }}</h3>
                <div class="checkboxes">
                    {% for i in range(details["checkboxes"]) %}
                        <input type="checkbox" id="{{ level }}-checkbox-{{ i }}" 
                               {% if details.get('checkboxes_state', [False] * details["checkboxes"])[i] %}checked{% endif %}
                               onchange="updateCheckbox('{{ level }}', '{{ i }}', this.checked)">
                    {% endfor %}
                </div>
                <div>
                    {% for spell in details["spells"] %}
                        <div class="collapsible">{{ spell["name"]["hobby"] }}</div>
                        <div class="spell-card">
                            <h1>{{ spell["name"]["hobby"] }}</h1>
                            <h2>{{ spell["name"]["english"] }} / {{ spell["name"]["phantom"] }}</h2>
                            
                            <p><b>Школа магии:</b> {{ spell["school"] }}</p>
                            <p><b>Уровень:</b> {{ spell["level"] }}</p>
                            <p><b>Ритуал:</b> {{ "Да" if spell["ritual"] else "Нет" }}</p>
                            <p><b>Концентрация:</b> {{ "Да" if spell["concentration"] else "Нет" }}</p>
                    
                            <p><b>Время сотворения:</b> {{ spell["cast_time"] }}</p>
                            <p><b>Длительность:</b> {{ spell["duration"] }}</p>
                            <p><b>Дистанция:</b> {{ spell["distance"] }}</p>
                            <p><b>Компоненты:</b> {{ spell["components"] }}</p>
                    
                            <div class="content">
                                <b>Описание:</b><br>
                                {% for description in spell["description"] %}
                                    {% if description["type"] == "html" %}
                                        {{ description["html_string"]|safe }}
                                    {% else %}
                                        <p>{{ description["html_string"] }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    
                            <p><b>Доступно для:</b> {{ ", ".join(spell["available_for"]) }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div> -->

    <script>

        function updateCheckbox(level, index, checked) {
            console.log(`level ${level} index ${index} checked ${checked}`)
            fetch('/update_checkbox', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    level: level,
                    index: index,
                    checked: checked
                }),
            }).then(response => response.json()).then(data => {
                if (data.status !== 'success') {
                    console.error('Failed to update checkbox state');
                }
            });
        }

        function downloadFile() {
            fetch('/download_json')
                .then(response => response.json())
                .then(data => {
                    let jsonString = JSON.stringify(data, null, 4); // Форматируем JSON красиво
                    let blob = new Blob([jsonString], { type: 'application/json' });
                    let a = document.createElement('a');
                    a.href = URL.createObjectURL(blob);
                    a.download = 'character_data.json';
                    a.click();
                })
                .catch(error => {
                    console.error('Ошибка при скачивании:', error);
                    alert('Ошибка при скачивании данных.');
                });
        }

        function uploadFile() {
            let fileInput = document.getElementById('fileInput');
            if (!fileInput.files.length) {
                alert('Выберите файл!');
                return;
            }

            let file = fileInput.files[0];
            let reader = new FileReader();

            reader.onload = function(event) {
                try {
                    let jsonData = JSON.parse(event.target.result);

                    fetch('/upload_json', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(jsonData),
                    }).then(response => response.json()).then(data => {
                        if (data.status === 'success') {
                            alert('Файл успешно загружен в базу!');
                        } else {
                            alert('Ошибка: ' + data.error);
                        }
                    }).catch(error => {
                        console.error('Ошибка:', error);
                        alert('Произошла ошибка при загрузке.');
                    });

                } catch (error) {
                    alert('Ошибка чтения файла. Убедитесь, что это корректный JSON.');
                }
            };

            reader.readAsText(file);
        }



        const collapsibles = document.querySelectorAll('.collapsible');
        collapsibles.forEach(button => {
            button.addEventListener('click', () => {
                const content = button.nextElementSibling;
                content.style.display = content.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>
</body>
</html>
